.search-column {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 2.5rem;
    width: 14.5rem;
    right: 30.5rem;
    border-radius: 10px;
    overflow-y: scroll;
    height: 29rem;
}

.top {
    font-size: 13px;
    margin-bottom: 4px;
    color: rgb(132, 132, 132);
    margin-left: 1rem;
}

.g {
    background: none;

}

.g :hover {
    background: rgb(247, 247, 247);
}

.main {
    display: flex;
}



.picture {
    width: 2rem;
    height: 4rem;
    margin-left: 1rem;
    margin-top: 0px;
}

.blok {
    display: block;
}

.nutrition-unit {
    margin-bottom: -10px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

.movie-or-TV-series {
    margin-left: 5px;
    font-size: 13px;
    margin-top: 20px;
    color: rgb(132, 132, 132);
}

.main-text {
    display: flex;

}

.estimation {
    color: green;
    margin-left: 10px;
}